
th, td {
  text-align: left;
  vertical-align:top;
  padding: 0px;
  font-size: 13px;
}
table.scoreboard {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
.scoreboard tr td, .scoreboard thead th {
  text-align: left;
  width: 7%
}
.scoreboard tr td:nth-child(1){
  text-align: left;
  width: 12%;
}
.scoreboard tr td:last-child, .scoreboard thead th:last-child {
  text-align: center;
  width: 12%;
}
.scoreboard tr td:nth-child(11), .scoreboard thead th:nth-child(11) {
  text-align: center;
  width: 12%;
}
table.character {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
table.upgrade_character {
  border-collapse: collapse;
  border-spacing: 0;
  width: 10%;
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}
.column {
  flex: 50%;
  padding: 5px;
}
