<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<p><a href="{{url_for('index')}}">back</a></p>

<div class="form">
<span>
<form method="POST">
<select name="item_subclass" id="item_subclass">
  <option value="Cloth">Cloth</option>
  <option value="Leather">Leather</option>
  <option value="Mail">Mail</option>
  <option value="Plate">Plate</option>
</select>
<!--
<label for="Haste">Haste</label>
<input type="checkbox" id="Crit" name="Crit" value="Crit">
<label for="Crit">Crit</label>
<input type="checkbox" id="Vers" name="Vers" value="Vers">
<label for="Vers">Vers</label>
<input type="checkbox" id="Mastery" name="Mastery" value="Mastery">
<label for="Mastery">Mastery</label>
-->
<input class="btn" type="submit" name="submit_button" value="Find Upgrades">
</form>
</span>
</div>
<h3>{{ character['name'] }} - {{ character['realm'] }}- {{ character['equipped_item_level'] }} - {{ character['active_spec_name'] }} - {{character['class']}}</h3>

<div class="row">
<div class ="column">
{% for date in distinct_crawl_dates %}

<h4>{{ date['active_spec_name'] }} - {{date['equipped_item_level']}} Item level as of {{date['last_crawled_cleansed'] }}</h4>

<table class="character">
{% for item in data %}
{% if item['last_crawled_at'] == date['last_crawled_at'] %}

<tr>
  <td width="5%">{{ item['item_slot'] }}</td>
  <td width="15%">{{ item['item_name'] }}</td>
  <td width="5%">{{ item['item_level'] }}</td>

{% if item['slot_item_level_change'] > 0 %}
  <td width="5%">&uarr; {{ item['slot_item_level_change']}}</td>
{% elif item['slot_item_level_change'] < 0 %}
  <td width="5%">&darr;{{ item['slot_item_level_change']}}</td>
{% else %}
  <td width="5%">&harr;</td>
{% endif %}

</tr>
{% endif %}

{% endfor %}
</table>
{% endfor %}
</div>

<div class="column">
<h3>Mythic Plus Runs</h3>
  <table class="character">
  {% for dungeon in all_mythic_plus_runs %}
  <tr>
    <td>{{ dungeon['dungeon'] }} - {{dungeon['tyr_or_fort']}}</td>
    <td>{{ dungeon['mythic_level'] }}</td>
    <td>+{{ dungeon['num_keystone_upgrades'] }}</td>
    <td>{{ dungeon['score'] }}</td>
    <td>{{ dungeon['completed_at_cleansed'] }}</td>
  </tr>

  {% endfor %}
</table>
</div>
</div>
