<!doctype html>
<!---next need to update this to loop thru column names instead of hardcoded'!-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

<h1>M+ Scoreboard - {{max_date['max_date']}} </h1>

<h2>Fortified Rating On Top</h2>
<p><a href="{{url_for('character_list')}}">Characters</a></p>

<table class="scoreboard">
<thead>
    <th class="scoreboard_char_name">Character Name</td>

<!---for distinct column names!-->
    <th class="scoreboard_rating">AA</th>
    <th class="scoreboard_rating">COS</th>
    <th class="scoreboard_rating">HOV</th>
    <th class="scoreboard_rating">RUBY</th>
    <th class="scoreboard_rating">SBG</th>
    <th class="scoreboard_rating">JADE</th>
    <th class="scoreboard_rating">AV</th>
    <th class="scoreboard_rating">NOKH</th>
    <th class="scoreboard_rating">Total Rating</th>
    <th class="scoreboard_rating">Weekly Rating Change</th>
<!---end for!-->
    </thead>

{% for data in data %}

<tr>
    <td><a href="{{url_for('character_name',character_name=data['name'],realm=data['realm'],region=data['region'])}}">{{ data['name'] }} - {{data['realm']}}</a></td>

<!--Grimrail F-->
    <td>{% if data['pr_GD_for'] !=  data['Grimrail Depot Fortified'] and data['pr_GD_for'] %}

    {{ data['Grimrail Depot Fortified']}} ( {{data['pr_GD_for']}}  )

    {% else %}
      {{ data['Grimrail Depot Fortified'] }}
    {% endif %}
    <br>

<!--Grimrail T-->
    {% if data['pr_GD_tyr'] !=  data['Grimrail Depot Tyrannical'] and data['pr_GD_tyr']%}


    {{ data['Grimrail Depot Tyrannical']}} ({{data['pr_GD_tyr']}})

    {% else %}
      {{ data['Grimrail Depot Tyrannical'] }}
    {% endif %}</td>

<!--ID F-->
    <td>{% if data['pr_ID_for'] !=  data['Iron Docks Fortified'] and data['pr_ID_for']%}

    {{ data['Iron Docks Fortified']}} ( {{data['pr_ID_for']}}  )

    {% else %}
      {{ data['Iron Docks Fortified'] }}
    {% endif %}
    <br>

<!--ID T-->
    {% if data['pr_ID_tyr'] !=  data['Iron Docks Tyrannical'] and data['pr_ID_tyr'] %}

    {{ data['Iron Docks Tyrannical']}} ( {{data['pr_ID_tyr']}}

    {% else %}
      {{ data['Iron Docks Tyrannical'] }}
    {% endif %}</td>


<!--JUNK F-->
    <td>{% if data['pr_JUNK_for'] !=  data['Mechagon Junkyard Fortified'] and data['pr_JUNK_for'] %}

    {{ data['Mechagon Junkyard Fortified']}} ( {{data['pr_JUNK_for']}}  )

    {% else %}
      {{ data['Mechagon Junkyard Fortified'] }}
    {% endif %}
    <br>

<!--JUNK T-->
    {% if data['pr_JUNK_tyr'] !=  data['Mechagon Junkyard Tyrannical'] and data['pr_JUNK_tyr'] %}

    {{ data['Mechagon Junkyard Tyrannical']}} ( {{data['pr_JUNK_tyr']}}

    {% else %}
      {{ data['Mechagon Junkyard Tyrannical'] }}
    {% endif %}</td>

<!--WKSP F-->
    <td>{% if data['pr_WKSP_for'] !=  data['Mechagon Workshop Fortified'] and data['pr_WKSP_for'] %}

    {{ data['Mechagon Workshop Fortified']}} ( {{data['pr_WKSP_for']}}  )

    {% else %}

    {{ data['Mechagon Workshop Fortified'] }}

    {% endif %}
    <br>

<!--WKSP T-->
    {% if data['pr_WKSP_tyr'] !=  data['Mechagon Workshop Tyrannical'] and data['pr_WKSP_tyr'] %}

    {{ data['Mechagon Workshop Tyrannical']}} ( {{data['pr_WKSP_tyr']}}

    {% else %}

    {{ data['Mechagon Workshop Tyrannical'] }}

    {% endif %}
    </td>

<!--Lower F-->
    <td>{% if data['pr_LOWR_for'] !=  data['Return to Karazhan: Lower Fortified'] and data['pr_LOWR_for'] %}

    {{ data['Return to Karazhan: Lower Fortified']}} ( {{data['pr_LOWR_for']}}  )

    {% else %}

    {{ data['Return to Karazhan: Lower Fortified'] }}

    {% endif %}
    <br>

<!--Lower T-->
    {% if data['pr_LOWR_tyr'] !=  data['Return to Karazhan: Lower Tyrannical']  and data['pr_LOWR_tyr']%}

    {{ data['Return to Karazhan: Lower Tyrannical']}} ( {{data['pr_LOWR_tyr']}}

    {% else %}
    {{ data['Return to Karazhan: Lower Tyrannical'] }}
    {% endif %}</td>

<!--UPPER F-->
    <td>{% if data['pr_UPPR_for'] !=  data['Return to Karazhan: Upper Fortified'] and data['pr_UPPR_for']%}

    {{ data['Return to Karazhan: Upper Fortified']}} ( {{data['pr_UPPR_for']}}  )

    {% else %}

    {{ data['Return to Karazhan: Upper Fortified'] }}

    {% endif %}
    <br>

<!--Upper T-->
    {% if data['pr_UPPR_tyr'] !=  data['Return to Karazhan: Upper Tyrannical'] and data['pr_UPPR_tyr'] %}

    {{ data['Return to Karazhan: Upper Tyrannical']}} ( {{data['pr_UPPR_tyr']}}

    {% else %}
    {{ data['Return to Karazhan: Upper Tyrannical'] }}

    {% endif %}</td>

<!--Gambit F-->
    <td>{% if data['pr_GMBT_for'] !=  data['Tazavesh: So\'leah\'s Gambit Fortified'] and data['pr_GMBT_for']%}

    {{ data['Tazavesh: So\'leah\'s Gambit Fortified'] }} ( {{data['pr_GMBT_for']}}  )

    {% else %}
      {{ data['Tazavesh: So\'leah\'s Gambit Fortified'] }}
    {% endif %}
    <br>

<!--gambit T-->
    {% if data['pr_GMBT_tyr'] !=  data['Tazavesh: So\'leah\'s Gambit Tyrannical'] and data['pr_GMBT_tyr']%}

    {{ data['Tazavesh: So\'leah\'s Gambit Tyrannical'] }} ( {{data['pr_GMBT_tyr']}}  )

    {% else %}
      {{ data['Tazavesh: So\'leah\'s Gambit Tyrannical'] }}
    {% endif %}</td>

<!--street F-->
    <td>{% if data['pr_STRT_for'] !=  data['Tazavesh: Streets of Wonder Fortified'] and data['pr_STRT_for'] %}

    {{ data['Tazavesh: Streets of Wonder Fortified']}} ( {{data['pr_STRT_for']}}  )

    {% else %}

    {{ data['Tazavesh: Streets of Wonder Fortified'] }}

    {% endif %}
    <br>

<!--street T-->
    {% if data['pr_STRT_tyr'] !=  data['Tazavesh: Streets of Wonder Tyrannical'] and data['pr_STRT_tyr'] %}

    {{ data['Tazavesh: Streets of Wonder Tyrannical']}} ( {{data['pr_STRT_tyr']}}

    {% else %}
    {{ data['Tazavesh: Streets of Wonder Tyrannical'] }}
    {% endif %}</td>
    <td>{{ data['total_rating'] }}</td>

   {% if data['daily_rating_change'] > 0 %}
     <td>&uarr; {{ data['daily_rating_change'] }}</td>
   {% elif data['daily_rating_change']  < 0 %}
     <td>&darr;{{ data['daily_rating_change'] }}</td>
   {% else %}
     <td>&harr;</td>
   {% endif %}

{% endfor %}

</table>
</html>
