<!doctype html>
<!---next need to update this to loop thru column names instead of hardcoded'!-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

<h1>M+ Scoreboard - {{max_date['max_date']}} </h1>

<h2>Fortified Rating On Top</h2>
<p><a href="{{url_for('character_list')}}">Characters</a></p>

<table class="scoreboard">
<thead>
    <th>Character Name</td>
    <th>Item Level</th>
<!---for distinct column names!-->
    <th>AA</th>
    <th>COS</th>
    <th>HOV</th>
    <th>RUBY</th>
    <th>SBG</th>
    <th>JADE</th>
    <th>AV</th>
    <th>NOKH</th>
    <th>Total Rating</th>
    <th>Weekly Rating Change</th>
<!---end for!-->
    </thead>

{% for data in data %}

<tr>
    <td><a href="{{url_for('character_name',character_name=data['name'],realm=data['realm'],region=data['region'])}}">{{ data['name'] }} - {{data['realm']}}</a></td>
    <td>{{ data['derived_item_level'] }}</td>
<!--Academy F-->
    <td>{% if data['pr_AA_for'] !=  data['Algeth\'ar Academy Fortified'] and data['pr_AA_for'] %}

    {{ data['Algeth\'ar Academy Fortified']}} ( {{data['pr_AA_for']}}  )

    {% else %}
      {{ data['Algeth\'ar Academy Fortified'] }}
    {% endif %}
    <br>

<!--Academy T-->
    {% if data['pr_AA_tyr'] !=  data['Algeth\'ar Academy Tyrannical'] and data['pr_AA_tyr']%}


    {{ data['Algeth\'ar Academy Tyrannical']}}&uarr;

    {% else %}
      {{ data['Algeth\'ar Academy Tyrannical'] }}
    {% endif %}</td>

<!--COS F-->
    <td>{% if data['pr_COS_for'] !=  data['Court of Stars Fortified'] and data['pr_COS_for']%}

    {{ data['Court of Stars Fortified']}}&uarr;

    {% else %}
      {{ data['Court of Stars Fortified'] }}
    {% endif %}
    <br>

<!--COS T-->
    {% if data['pr_COS_tyr'] !=  data['Court of Stars Tyrannical'] and data['pr_COS_tyr'] %}

    {{ data['Court of Stars Tyrannical']}}&uarr;

    {% else %}
      {{ data['Court of Stars Tyrannical'] }}
    {% endif %}</td>


<!--HOV F-->
    <td>{% if data['pr_HOV_for'] !=  data['Halls of Valor Fortified'] and data['pr_HOV_for'] %}

    {{ data['Halls of Valor Fortified']}}&uarr;

    {% else %}
      {{ data['Halls of Valor Fortified'] }}
    {% endif %}
    <br>

<!--HOV T-->
    {% if data['pr_HOV_tyr'] !=  data['Halls of Valor Tyrannical'] and data['pr_HOV_tyr'] %}

    {{ data['Halls of Valor Tyrannical']}}&uarr;

    {% else %}
      {{ data['Halls of Valor Tyrannical'] }}
    {% endif %}</td>

<!--WKSP F-->
    <td>{% if data['pr_RUBY_for'] !=  data['Ruby Life Pools Fortified'] and data['pr_RUBY_for'] %}

    {{ data['Ruby Life Pools Fortified']}}&uarr;

    {% else %}

    {{ data['Ruby Life Pools Fortified'] }}

    {% endif %}
    <br>

<!--WKSP T-->
    {% if data['pr_RUBY_tyr'] !=  data['Ruby Life Pools Tyrannical'] and data['pr_RUBY_tyr'] %}

    {{ data['Ruby Life Pools Tyrannical']}}&uarr;
    {% else %}

    {{ data['Ruby Life Pools Tyrannical'] }}

    {% endif %}
    </td>

<!--SBG F-->
    <td>{% if data['pr_SBG_for'] !=  data['Shadowmoon Burial Grounds Fortified'] and data['pr_SBG_for'] %}

    {{ data['Shadowmoon Burial Grounds Fortified']}}&uarr;

    {% else %}

    {{ data['Shadowmoon Burial Grounds Fortified'] }}

    {% endif %}
    <br>

<!--SBG T-->
    {% if data['pr_SBG_tyr'] !=  data['Shadowmoon Burial Grounds Tyrannical']  and data['pr_SBG_tyr']%}

    {{ data['Shadowmoon Burial Grounds Tyrannical']}}&uarr;

    {% else %}
    {{ data['Shadowmoon Burial Grounds Tyrannical'] }}
    {% endif %}</td>

<!--JADE F-->
    <td>{% if data['pr_JADE_for'] !=  data['Temple of the Jade Serpent Fortified'] and data['pr_JADE_for']%}

    {{ data['Temple of the Jade Serpent Fortified']}}&uarr;

    {% else %}

    {{ data['Temple of the Jade Serpent Fortified'] }}

    {% endif %}
    <br>

<!--JADE T-->
    {% if data['pr_JADE_tyr'] !=  data['Temple of the Jade Serpent Tyrannical'] and data['pr_JADE_tyr'] %}

    {{ data['Temple of the Jade Serpent Tyrannical']}}&uarr;

    {% else %}
    {{ data['Temple of the Jade Serpent Tyrannical'] }}

    {% endif %}</td>

<!--AZURE F-->
    <td>{% if data['pr_AV_for'] !=  data['The Azure Vault Fortified'] and data['pr_AV_for']%}

    {{ data['The Azure Vault Fortified'] }}&uarr;

    {% else %}
      {{ data['The Azure Vault Fortified'] }}
    {% endif %}
    <br>

<!--AZURE T-->
    {% if data['pr_AV_tyr'] !=  data['The Azure Vault Tyrannical'] and data['pr_AV_tyr']%}

    {{ data['The Azure Vault Tyrannical'] }}&uarr;

    {% else %}
      {{ data['The Azure Vault Tyrannical'] }}
    {% endif %}</td>

<!--NOKH F-->
    <td>{% if data['pr_NOKH_for'] !=  data['The Nokhud Offensive Fortified'] and data['pr_NOKH_for'] %}

    {{ data['The Nokhud Offensive Fortified']}}&uarr;

    {% else %}

    {{ data['The Nokhud Offensive Fortified'] }}

    {% endif %}
    <br>

<!--NOKH T-->
    {% if data['pr_NOKH_tyr'] !=  data['The Nokhud Offensive Tyrannical'] and data['pr_NOKH_tyr'] %}

    {{ data['The Nokhud Offensive Tyrannical']}}&uarr;

    {% else %}
    {{ data['The Nokhud Offensive Tyrannical'] }}
    {% endif %}</td>
    <td>{{ data['total_rating_round'] }}</td>

   {% if data['daily_rating_change_round'] > 0 %}
     <td>&uarr; {{ data['daily_rating_change_round'] }}</td>
   {% elif data['daily_rating_change_round']  < 0 %}
     <td>&darr;{{ data['daily_rating_change_round'] }}</td>
   {% else %}
     <td>&harr;</td>
   {% endif %}

{% endfor %}

</table>
</html>
