<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

<h1>M+ Scoreboard</h1>

<h2>Fortified Rating On Top</h2>


<table>
<tr>
    <td>Character Name</td>
    <td>Grimrail Depot</td>
    <td>Iron Docks</td>
    <td>Mechagon Junkyard</td>
    <td>Mechagon Workshop</td>
    <td>Return to Karazhan: Lower</td>
    <td>Return to Karazhan: Upper</td>
    <td>Tazavesh: So'leah's Gambit</td>
    <td>Tazavesh: Streets of Wonder</td>
    <td>Total Rating</td>
</tr>

{% for data in data %}

<tr>
    <td><a href="{{url_for('character_name',character_name=data['name'],realm=data['realm'],region=data['region'])}}">{{ data['name'] }} - {{data['realm']}}</a></td>

    <td>{{ data['Grimrail Depot Fortified'] }}<br>
        {{ data['Grimrail Depot Tyrannical'] }}</td>

    <td>{{ data['Iron Docks Fortified'] }} <br>
        {{ data['Iron Docks Tyrannical'] }}</td>

    <td>{{ data['Mechagon Junkyard Fortified'] }}<br>
        {{ data['Mechagon Junkyard Tyrannical'] }}</td>

    <td>{{ data['Mechagon Workshop Fortified'] }}<br>
        {{ data['Mechagon Workshop Tyrannical'] }}</td>

    <td>{{ data['Return to Karazhan: Lower Fortified'] }}<br>
        {{ data['Return to Karazhan: Lower Tyrannical'] }}</td>

    <td>{{ data['Return to Karazhan: Upper Fortified'] }}<br>
        {{ data['Return to Karazhan: Upper Tyrannical'] }}</td>

    <td>{{ data['Tazavesh: So\'leah\'s Gambit Fortified'] }}<br>
        {{ data['Tazavesh: So\'leah\'s Gambit Tyrannical'] }}</td>

    <td>{{ data['Tazavesh: Streets of Wonder Fortified'] }}<br>
        {{ data['Tazavesh: Streets of Wonder Tyrannical'] }}</td>

   <td>{{ data['total_rating'] }}</td>

{% endfor %}

</table>
</html>
